* {
    border: none;
    border-radius: 20px;
    background: none;
}

#workspaces {
    background: #333333;
    padding: 0 5px;
    border: 2px solid #F2542D;
}

#workspaces button.active {
    color: #F2542D;
    font-weight: bold;
}

#clock {
    background: #333333;
    border: 2px solid #F2542D;
    border-radius: 20px;
    padding: 0 10px;
}

.modules-right {
    background: #333333;
    border: 2px solid #F2542D;
}

.modules-right * {
   /* margin-right: 5px; */
    
}

#backlight, #language, #pulseaudio, #network, #battery {
    border-right: 2px solid #F2542D;
    border-radius: 0;
    padding-right: 8px;
    padding-left: 8px;
    border-style: dashed;
}

#tray {
    padding-right: 8px;
    padding-left: 8px;
}
